<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link href="{% static '/style.css'%}" rel="stylesheet" type="text/css" >
		<style>
			body {
				text-align: center;
				background: url('{% static "/media/base.jpg"%}') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			.five{
			  background-image: url("{% static '/media/white_chip.png' %}");
			  font-size: 40px;
			}
			.ten{
			  background-image: url("{% static '/media/black_chip.png' %}");
			  font-size: 36px;
			}
			.twenty{
			  background-image: url("{% static '/media/red_chip.png' %}");
			  font-size: 36px;
			}
			.fifty{
			  background-image: url("{% static '/media/green_chip.png' %}");
			  font-size: 36px;
			}
			.hundered{
			  background-image: url("{% static '/media/blue_chip.png' %}");
			  font-size: 24px;
			}
			.fivehundered{
			  background-image: url("{% static '/media/yellow_chip.png' %}");
			  font-size: 24px;
			}
			.total{
			  background-image: url("{% static '/media/total_chip.png' %}");
			  font-size: 24px;
			}
			.curr_bal{
				position: absolute;
				right: 50px;
				top: 0px;
			}
			.new_bal{
				position: absolute;
				right: 50px;
				top: 40px;
			}
			.game_bal{
				position: absolute;
				right: 50px;
				top: 40px;
			}
			.dealer_hand{
				position: absolute;
				top: 150px;
				right: 500px;
			  }
			.player_hand{
				position: absolute;
				right: 500px;
				bottom: 500px;
			}
			  

		</style>
	</head>
	<body>
		<h1 id = "table_id" class = "hidden"> {{ table }}</h1>
		<h1>Welcome {{ request.user }}</h1>

		<h2 id = "curr_bal" class = "curr_bal">Account balance </h2>	
		<h2 id = "new_bal" class = "new_bal">New Balance </h2>	
		<h2 id = "game_bal" class = "hidden">Game balance</h2>	

		<div id = 'player_card_div'>
			<img id = "player_image0" src= "{% static '/media/cards/BACK.png' %}" alt="Card"/>
		</div>	
		<div id = 'dealer_card_div'>
			<img id = "dealer_image0" src= "{% static '/media/cards/BACK.png' %}" alt="Card"/>
		</div>	



		<div id ='btns'>
			<button class = "button" id = "sit-btn"> Sit </button>
			<button class = "button hidden" id="hit-btn">Hit Me</button>
			<button class = "button hidden" id="stand-btn">Stand</button>
			<button class = "button hidden" id = "new-game-btn">Begin new game</button>
			<button class = "button hidden" id = "leave-btn">Leave table</button>
		</div>
		<div id ="hands">
			<h2 id = "dealer_hand" class = "hidden">Dealer hand </h2>	
			<h2 id = "player_hand" class = "hidden">Player hand </h2>	
		</div>
		<div class="slidecontainer" id="slider_div">
		  <input type="range" min="10" step="5" class="slider" id="balance_slider"/>
		  <p>Amount: <span id="amount"></span></p>
		</div>
		
		<div id = 'chips'>
			<button class = "hidden"  id="clear">Clear</button>
			<button class = "hidden"  id="max">Max</button>
			<button class = "hidden" id = "5">5</button>
			<button class = "hidden" id = "10">10</button>
			<button class = "hidden" id = "20">20</button>
			<button class = "hidden" id = "50">50</button>
			<button class = "hidden" id = "100">100</button>
			<button class = "hidden" id = "500">500</button>
			<button class = "hidden" id = "bet-btn" disabled></button>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script> 
			const sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms))
			var user_obj;
			var user_bal;
			var total_bet = 0;
			var deck = [];
			var dealer_score = 0;
			var dealer_hand = [];
			var player_score = 0;
			var player_hand = [];
			var dealer_pos = 700;
			var player_pos = 700;
			var player_card_id = 0;
			var dealer_card_id = 0;
			var min_bal = 0;
			var max_bal = 0;
			var acc_bal = 0;
			const game_status = Object.freeze({
				dealer_win : -1,
				ongoing : 0,
				player_win : 1,
				tie: 2,
				player_bkacjack_win: 3
			});
			const table_type = Object.freeze({
				low : 1,
				medium : 2,
				high : 3,
				vip: 4
			});


			$(function() {
				$.ajax({
					type : 'GET',
					url: '../balance/',
					async: false,
					success: function(response){
						switch(parseInt($("#table_id").html())){
							case table_type.low:
								min_bal = 5;
								max_bal = 500;
								break;
							case table_type.medium:
								min_bal = 20;
								max_bal = 1000;
								break;
							case table_type.high:
								min_bal = 50;
								max_bal = 5000;
								break;
							case table_type.vip:
								min_bal = 100;
								max_bal = 10000;
								break;
						}
						if(response < min_bal){
							alert("You do not have enough money to sit on this table")
							window.location.replace("/");
						}
						acc_bal = response;
						$("#curr_bal").html(`Account balance : ${acc_bal}`);
						let mid_val = 0;
						if(acc_bal <= max_bal){
							$("#balance_slider").attr("max", acc_bal);
							mid_val = parseInt(acc_bal / 2);
							while(mid_val % 5 != 0){
								mid_val--;
							}
							$("#balance_slider").attr('value', mid_val);
						}
						else{
							$("#balance_slider").attr("max", max_bal);
							$("#balance_slider").attr('value', max_bal / 2);
							mid_val = max_bal / 2;
						}
						$("#amount").html($("#balance_slider").attr('value')).delay(500);
						console.log($("#amount").html($("#balance_slider").attr('value')))
						$("#new_bal").html(`New account balance : ${acc_bal - mid_val}`);
					}
				})
			});

			function shuffle(){
				let deck = [];
				const suits = ["S", "D", "C", "H"];
				const values = [
				"A",
				"2",
				"3",
				"4",
				"5",
				"6",
				"7",
				"8",
				"9",
				"10",
				"J",
				"Q",
				"K"
				];
				for(let i = 0; i < 4; i++){
					for (let j = 0; j < suits.length; j++) {
						for (let k = 0; k < values.length; k++) {
							let power = k + 1;
							if(power == 1){
								power = 11
							}
							else if(power >= 10){
								power = 10
							}
							let card = { Value: values[k], Suit: suits[j], Power: power, Id: k + 1};
							deck.push(card);
						}
					}
				}
				for (let i = deck.length - 1; i > 0; i--) {
					let j = Math.floor(Math.random() * i);
					let temp = deck[i];
					deck[i] = deck[j];
					deck[j] = temp;
				}
				return deck;
			}

			function get_card(){
				if(deck <= 52 * 2){
					deck = shuffle().slice()
				}
				return deck.pop();
			}

			function update_score(hand, score, is_dealer, is_final){
				let visible_score = 0;
				let actual_score = 0;
				let soft = false;
				for(let card of hand){
					if(card.Id == 1){
						if(card.Power == 1){
							soft = false;
							break;
						}
						actual_score = 0
						for(let i of hand){
							actual_score += i.Power
							if(actual_score > 21){
								card.Power = 1;
								soft = false;
								break;
							}
							else if(actual_score < 21){
								soft = true;
							}
						}
					}
				}
				actual_score = 0
				for(let i = 0; i < Object.keys(hand).length; i++){
					if(!is_dealer){
						actual_score += hand[i].Power;
						visible_score += hand[i].Power;
						continue;
					}
					else{
						actual_score += hand[i].Power;
					}
					if(!is_final && is_dealer && i == 1){
						soft = false;
						continue;
					}
					visible_score += hand[i].Power;
				}
				score = actual_score;
				if(score == 21 && is_dealer){
					$("#dealer_hand").html(`Dealer hand: Blackjack (21)!`);
					return;
				}
				else if(score == 21 && !is_dealer){
						$("#player_hand").html(`Player hand: Blackjack (21)!`);
					return;
				}
				if(is_dealer){
					if(soft){
						$("#dealer_hand").html(`Dealer hand: Soft ${visible_score}`);
					}
					else{
						$("#dealer_hand").html(`Dealer hand: ${visible_score}`);
					}
				}
				else{
					if(soft){
						$("#player_hand").html(`Player hand: Soft ${visible_score}`);
					}
					else{
						$("#player_hand").html(`Player hand: ${visible_score}`);
					}
				}
				return score;
			}

			function update_chips(){
				if(user_obj.game_balance - total_bet < 500){
					$("#500").attr('class', 'chip fivehundered disabled');
				}
				else{
					$("#500").attr('class', 'chip fivehundered enabled');
				}
				if(user_obj.game_balance - total_bet < 100){
					$("#100").attr('class', 'chip hundered disabled');
				}
				else{
					$("#100").attr('class', 'chip hundered enabled');
				}
				if(user_obj.game_balance - total_bet < 50){
					$("#50").attr('class', 'chip fifty disabled');
				}
				else{
					$("#50").attr('class', 'chip fifty enabled');
				}
				if(user_obj.game_balance - total_bet < 20){
					$("#20").attr('class', 'chip twenty disabled');
				}
				else{
					$("#20").attr('class', 'chip twenty enabled');
				}
				if(user_obj.game_balance - total_bet < 10){
					$("#10").attr('class', 'chip ten disabled');
				}
				else{
					$("#10").attr('class', 'chip ten enabled');
				}
				if(user_obj.game_balance - total_bet < 5){
					$("#5").attr('class', 'chip five disabled');
				}
				else{
					$("#5").attr('class', 'chip five enabled');
				}
			}
			
			function make_bet(bet){
				if(total_bet + bet <= user_obj.game_balance){
					total_bet += bet;
					$("#bet-btn").prop('disabled', false);
					$("#bet-btn").html(total_bet);
					$("#bet-btn").attr('class', 'chip total enabled');
					update_chips();
				}
				else{
					update_chips();
				}
				
			}
			
			
			
			$("#sit-btn").click( function() {
				$("#slider_div").attr('class', 'hidden');
				$("#new_bal").attr('class', 'hidden');
				$("#game_bal").attr('class', 'game_bal');
				sitOnTable();
				send_data();
			})
			
			
			const sitOnTable = () => {
				$.ajax({
					type : 'GET',
					url: '../table_sit/',
					async: false,
					success: function(response){
						user_obj = JSON.parse(response);
						$("#game_bal").html(`Game balance ${user_obj.game_balance}`);
						$("#sit-btn").attr('class', 'hidden');
						$("#clear").attr('class', 'button clear enabled');
						$("#max").attr('class', 'button max enabled');
						$("#bet-btn").attr('class', 'hidden');
						update_chips();
						deck = shuffle().slice();
					}
				})
				
			}
			
			$("#balance_slider").on('input', function() {
			  $("#amount").html(this.value);
			  $("#new_bal").html(`New account balance : ${acc_bal - this.value}`);
			});
			

			


			function check_midgame_status(){
				dealer_score = update_score(dealer_hand, dealer_score, true, false);
				player_score = update_score(player_hand, player_score, false, false);
				if(player_score < 21){
					return game_status.ongoing;
				}
				else if(player_score > 21){
					return game_status.dealer_win;
				}
				else if(player_score == 21 && dealer_score == 21){
					return game_status.tie;
				}
				else if(player_score == 21){
					return game_status.player_blackjack_win;
				}
				else if(dealer_score == 21){
					return game_status.dealer_win;
				}
			}
			function check_final_game_status(){
				dealer_score = update_score(dealer_hand, dealer_score, true, true);
				player_score = update_score(player_hand, player_score, false, true);
				if(player_score == dealer_score){
					return game_status.tie;
				}
				else if(dealer_score > 21){
					return game_status.player_win;
				}
				else if(player_score > 21){
					return game_status.dealer_win;
				}
				else if(player_score == 21){
					return game_status.player_blackjack_win;
				}
				else if(dealer_score > player_score){
					return game_status.dealer_win;
				}
				else if(player_score > dealer_score){
					return game_status.player_win;
				}
			}
			function dealer_hit(){
				dealer_score = hit(dealer_hand, dealer_score, true, false);
			}
			function player_hit(){
				player_score = hit(player_hand, player_score, false, false);
			}

			async function stand(){
				let source = "{% static 'media/cards/' %}" + `${dealer_hand[1].Value}-${dealer_hand[1].Suit}.png`;
				$("#dealer_image1").attr('src', source);
				while(dealer_score < 17){
					dealer_hit();
					await sleep(500);
				}
				dealer_score = update_score(dealer_hand, dealer_score, true, true); 
			}

			function finish_game(){
				let status = check_final_game_status();
				if(status == game_status.dealer_win){
					total_bet = 0;
				}
				else if(status == game_status.player_win){
					user_obj.game_balance += total_bet * 2;
					total_bet = 0;
				}
				else if(status == game_status.player_blackjack_win){
					user_obj.game_balance += total_bet* 2.5;
					total_bet = 0;
				}
				else if(status == game_status.tie){
					user_obj.game_balance += total_bet;
					total_bet = 0;
				}
				$("#game_bal").html(`Game balance ${user_obj.game_balance}`);
				$("#new-game-btn").attr('class', 'button enabled');
				$("#leave-btn").attr('class', 'button enabled');
			}
			function hit(hand, score, is_dealer){
				let card = get_card();
				hand.push(card);
				score = update_score(hand, score, is_dealer, false); 
				let image_name;
				let $img;
				if(is_dealer){
					image_name = '#dealer_image' + dealer_card_id++;
					$img = $(image_name).clone();
					$($img).appendTo("#dealer_card_div");
					$img.attr('id', 'dealer_image' + dealer_card_id);
				}
				else{
					image_name = '#player_image' + player_card_id++;
					$img = $(image_name).clone();
					$($img).appendTo("#player_card_div");
					$img.attr('id', 'player_image' + player_card_id);
				}
				let source = "{% static 'media/cards/' %}" + `${card.Value}-${card.Suit}.png`;
				if(is_dealer){
					$(image_name).css({"top": '200px'});
					$(image_name).css({"left": `${dealer_pos}px`});
				}
				else{
					$(image_name).css({"left": `${player_pos}px`});
				}
				if((is_dealer && Object.keys(hand).length != 2) || !is_dealer){
					$(image_name).on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd",async function(){
						await sleep(300);
						$(image_name).attr('src',source);
					});	
				}
				if(is_dealer){
					dealer_pos +=40;
				}
				else{
					player_pos +=40;
				}
				return score;
				
				
			}		

			const send_data = () => {
				$.ajax({
					type : 'POST',
					url: '../game_balance/',
					async: false,
					data : {
					  'game_bal' : $("#amount").html(),
					  'csrfmiddlewaretoken': '{{csrf_token}}',
					},
					success: function(response){
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				})
			}
			
			const leave_table = () => {
				$.ajax({
					type : 'POST',
					url: '../leave/',
					data : {
					  'game_bal' : user_obj.game_balance,
					  'csrfmiddlewaretoken': '{{csrf_token}}',
					},
					success: function(response){
						window.location.replace("/");
					},
					error: function(error){
						window.location.replace("/");
					}
				})
			}
			$("#clear").click( function() {
				total_bet = 0;
				$("#bet-btn").prop('disabled', true);
				$("#bet-btn").attr('class', 'chip total disabled');
				update_chips();
				$("#bet-btn").attr('class', 'hidden');

			})
			$("#5").click( function() {
				make_bet(5);
			})
			$("#10").click( function() {
				make_bet(10);
			})
			$("#20").click( function() {
				make_bet(20);
			})
			$("#50").click( function() {
				make_bet(50);
			})
			$("#100").click( function() {
				make_bet(100);
			})
			$("#500").click( function() {
				make_bet(500);
			})
			$("#max").click( function() {
				total_bet = user_obj.game_balance;
				$("#bet-btn").prop('disabled', false);
				$("#bet-btn").attr('class', 'chip total enabled');
				$("#bet-btn").html(total_bet);
				update_chips();
			})
			$("#bet-btn").click(async function(){
				user_obj.game_balance -= total_bet;
				$("#game_bal").html(`Game balance ${user_obj.game_balance}`);
				$("#bet-btn").attr('class', 'hidden');
				$("#clear").attr('class', 'hidden');
				$("#5").attr('class', 'hidden');
				$("#10").attr('class', 'hidden');
				$("#20").attr('class', 'hidden');
				$("#50").attr('class', 'hidden');
				$("#100").attr('class', 'hidden');
				$("#500").attr('class', 'hidden');
				$("#max").attr('class', 'hidden');
				player_hit();
				setTimeout(() => {player_hit();}, 500);
				setTimeout(() => {dealer_hit();}, 1000);
				setTimeout(() => {dealer_hit();}, 1500);
				await sleep(3000);
				$("#dealer_hand").attr('class', 'dealer_hand');
				$("#player_hand").attr('class', 'player_hand');
				let status = check_midgame_status();
				if(status == game_status.ongoing){
					$("#hit-btn").attr('class', 'button enabled');
					$("#stand-btn").attr('class', 'button enabled');
				}
				else if(status == game_status.dealer_win){
					$("#hit-btn").attr('class', 'hidden');
					$("#stand-btn").attr('class', 'hidden');
					setTimeout(async () => {
						let source = "{% static 'media/cards/' %}" + `${dealer_hand[1].Value}-${dealer_hand[1].Suit}.png`;
						$("#dealer_image1").attr('src',source);
						await sleep(300);
						finish_game();
					}, 2000);
				}
				else{
					$("#hit-btn").attr('class', 'hidden');
					$("#stand-btn").attr('class', 'hidden');
					setTimeout(async () => {
						let source = "{% static 'media/cards/' %}" + `${dealer_hand[1].Value}-${dealer_hand[1].Suit}.png`;
						$("#dealer_image1").attr('src',source);
						stand();
						await sleep(300);
						finish_game();
					}, 2000);
				}

			})
			$("#hit-btn").click(function(){
				player_hit();
				let status = check_midgame_status();
				if(status == game_status.dealer_win){
					$("#hit-btn").attr('class', 'hidden');
					$("#stand-btn").attr('class', 'hidden');
					setTimeout(async () => {
						let source = "{% static 'media/cards/' %}" + `${dealer_hand[1].Value}-${dealer_hand[1].Suit}.png`;
						$("#dealer_image1").attr('src',source);
						await sleep(300);
						finish_game();
					}, 2000);
				}
				else if(status == game_status.player_blackjack_win){
					$("#hit-btn").attr('class', 'hidden');
					$("#stand-btn").attr('class', 'hidden');
					setTimeout(async () => {
						await sleep(100);
						finish_game();
					}, 200);
				}
			})
			$("#stand-btn").click( function(){
				$("#hit-btn").attr('class', 'hidden');
				$("#stand-btn").attr('class', 'hidden');
				setTimeout(async () => {
					stand();
					await sleep(1000);
					finish_game();
				}, 200);
			})	
			
			$("#new-game-btn").click( function(){
				dealer_pos = 600;
				player_pos = 600;
				$("#new-game-btn").attr('class', 'hidden');
				$("#leave-btn").attr('class', 'hidden');
				$("#dealer_hand").attr('class', 'hidden');
				$("#player_hand").attr('class', 'hidden');
				$("#dealer_hand").html('Dealer hand');
				$("#player_hand").html('Player hand');
				for(let i = 0; i < Object.keys(player_hand).length; i++){
					let image_name = "#player_image" + i;
					$(image_name).css({"left" : '-10000px'});
					if(i == 0){
						$(image_name).attr("src", "{% static '/media/cards/BACK.png' %}");
					}
					else{
						$(image_name).remove();
					}
				}
				player_hand = [];
				for(let i = 0; i < Object.keys(dealer_hand).length; i++){
					let image_name = "#dealer_image" + i;
					$(image_name).css({"left" : '-10000px'});
					if(i == 0){
						$(image_name).attr("src", "{% static '/media/cards/BACK.png' %}");
					}
					else{
						$(image_name).remove();
					}
				}
				dealer_hand = [];
				console.log(min_bal)
				if(user_obj.game_balance < min_bal){
					$("#sit-btn").attr('class', 'button enabled');
					$("#slider_div").attr('class', 'slider enabled');
				}
				else{
					$("#clear").attr('class', 'button clear enabled');
					$("#max").attr('class', 'button max enabled');
					update_chips();
				}
			});

			$("#leave-btn").click( function(){
				leave_table();
			});
		</script>
	
	</body>
</html>