<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link href="{% static '/style.css'%}" rel="stylesheet" >
		<style>
			body {
				text-align: center;
				background: url('{% static "/media/base.jpg"%}') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			.five{
			  background-image: url("{% static '/media/white_chip.png' %}");
			  font-size: 40px;
			}
			.ten{
			  background-image: url("{% static '/media/black_chip.png' %}");
			  font-size: 36px;
			}
			.twenty{
			  background-image: url("{% static '/media/red_chip.png' %}");
			  font-size: 36px;
			}
			.fifty{
			  background-image: url("{% static '/media/green_chip.png' %}");
			  font-size: 36px;
			}
			.hundered{
			  background-image: url("{% static '/media/blue_chip.png' %}");
			  font-size: 24px;
			}
			.fivehundered{
			  background-image: url("{% static '/media/yellow_chip.png' %}");
			  font-size: 24px;
			}
			.total{
			  background-image: url("{% static '/media/total_chip.png' %}");
			  font-size: 24px;
			}
		</style>
	</head>
	<body>

		<h1>Hi {{ request.user }}</h1>

		<div id = 'card_div'>
			<img id = "image0" src= "{% static '/media/cards/BACK.png' %}" alt="Card"/>
		</div>	
		
		<div id ='btns'>
			<button class = "button sit" id = "sit-btn"> Sit </button>
			<button class = "button hit hidden" id="hit-btn">Hit Me</button>
		</div>
		
		<div class="slidecontainer" id="slider_div">
		  <input type="range" min="10" step="5" class="slider" id="balance_slider"/>
		  <p>Amount: <span id="amount"></span></p>
		</div>
		
		<div id = 'chips'>
			<button class = "hidden"  id="clear">Clear</button>
			<button class = "hidden"  id="max">Max</button>
			<button class = "hidden" id = "5">5</button>
			<button class = "hidden" id = "10">10</button>
			<button class = "hidden" id = "20">20</button>
			<button class = "hidden" id = "50">50</button>
			<button class = "hidden" id = "100">100</button>
			<button class = "hidden" id = "500">500</button>
			<button class = "hidden" id = "bet-btn" disabled></button>
		</div>


		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script> 
			
			var user_obj;
			var user_bal;
			var total_bet = 0;
			
				
			
			function update_chips(){
				if(user_obj.game_balance - total_bet < 500){
					$("#500").attr('class', 'chip fivehundered disabled');
				}
				else{
					$("#500").attr('class', 'chip fivehundered enabled');
				}
				if(user_obj.game_balance - total_bet < 100){
					$("#100").attr('class', 'chip hundered disabled');
				}
				else{
					$("#100").attr('class', 'chip hundered enabled');
				}
				if(user_obj.game_balance - total_bet < 50){
					$("#50").attr('class', 'chip fifty disabled');
				}
				else{
					$("#50").attr('class', 'chip fifty enabled');
				}
				if(user_obj.game_balance - total_bet < 20){
					$("#20").attr('class', 'chip twenty disabled');
				}
				else{
					$("#20").attr('class', 'chip twenty enabled');
				}
				if(user_obj.game_balance - total_bet < 10){
					$("#10").attr('class', 'chip ten disabled');
				}
				else{
					$("#10").attr('class', 'chip ten enabled');
				}
				if(user_obj.game_balance - total_bet < 5){
					$("#5").attr('class', 'chip five disabled');
				}
				else{
					$("#5").attr('class', 'chip five enabled');
				}
			}
			
			function make_bet(bet){
				if(total_bet + bet <= user_obj.game_balance){
					total_bet += bet;
					$("#bet-btn").prop('disabled', false);
					$("#bet-btn").html(total_bet);
					$("#bet-btn").attr('class', 'chip total enabled');
					update_chips();
				}
				else{
					update_chips();
				}
				
			}
			
			
			
			$("#sit-btn").click( function() {
				sitOnTable();
				send_data();
				$("#slider_div").attr('class', 'hidden');
			})
			
			const sitOnTable = () => {
				$.ajax({
					type : 'GET',
					url: 'sit/',
					success: function(response){
						user_obj = JSON.parse(response);
						$("#sit-btn").attr('class', 'hidden');
						$("#clear").attr('class', 'button clear enabled');
						$("#max").attr('class', 'button max enabled');
						$("#bet-btn").attr('class', 'hidden');
						update_chips();
						console.log(user_obj);
					}
				})
				
			}
			
			$("#balance_slider").on('input', function() {
			  $("#amount").html(this.value);
			});
			
			
			$(function() {
				$.ajax({
					type : 'GET',
					url: '../balance/',
					success: function(response){
						
						if(response <= 5000){
							$("#balance_slider").attr("max", response);
							var mid_val = parseInt(response / 2);
							while(mid_val % 5 != 0){
								mid_val--;
							}
							$("#balance_slider").attr('value', mid_val);
						}
						else{
							$("#balance_slider").attr("max", 5000);
							$("#balance_slider").attr('value', 2500);
						}
						$("#amount").html($("#balance_slider").attr('value')).delay(500);
					}
				})
			});
			
			const hit = () => {
				$.ajax({
					type : 'GET',
					url: 'hit/',
					success: function(response){
						var image_name = '#image' + card_id++;
						var $img = $(image_name).clone();
						$img.attr('id', 'image' + card_id);
						$($img).appendTo("#card_div");
						var source = "{% static 'media/cards/' %}" + response;
						$(image_name).css({"left": `${pos}px` });
						$(image_name).on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
							
							setTimeout(() => {   $(image_name).attr('src',source); }, 300);
						});
						pos +=40;
					}
				})
			}
			const send_data = () => {
				$.ajax({
					type : 'POST',
					url: '../game_balance/',
					data : {
					  'game_bal' : $("#amount").html(),
					  'csrfmiddlewaretoken': '{{csrf_token}}',
					},
					success: function(response){
						console.log(response)
					},
					error: function(error){
						console.log(error);
					}
				})
			}
			
			$("#clear").click( function() {
				total_bet = 0;
				$("#bet-btn").prop('disabled', true);
				$("#bet-btn").attr('class', 'chip total disabled');
				update_chips();
				$("#bet-btn").attr('class', 'hidden');

			})
			$("#5").click( function() {
				make_bet(5);
			})
			$("#10").click( function() {
				make_bet(10);
			})
			$("#20").click( function() {
				make_bet(20);
			})
			$("#50").click( function() {
				make_bet(50);
			})
			$("#100").click( function() {
				make_bet(100);
			})
			$("#500").click( function() {
				make_bet(500);
			})
			$("#max").click( function() {
				total_bet = user_obj.game_balance;
				$("#bet-btn").prop('disabled', false);
				$("#bet-btn").attr('class', 'chip total enabled');
				$("#bet-btn").html(total_bet);
				update_chips();
			})
			$("#bet-btn").click( function(){
				user_obj.game_balance -= total_bet;
				total_bet = 0;
				$("#bet-btn").attr('class', 'hidden');
				$("#clear").attr('class', 'hidden');
				$("#5").attr('class', 'hidden');
				$("#10").attr('class', 'hidden');
				$("#20").attr('class', 'hidden');
				$("#50").attr('class', 'hidden');
				$("#100").attr('class', 'hidden');
				$("#500").attr('class', 'hidden');
				$("#max").attr('class', 'hidden');
				hit();
				setTimeout(() => {hit();}, 500);
				setTimeout(() => {  
					$("#hit-btn").attr('class', 'button hit enabled');
					}, 2000);
			})
			
			var pos = 100;
			var card_id = 0;
			$("#hit-btn").click( function(){
				hit();
			})
			
			
			const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/tables/medium/'
        );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            window.location.replace("/");
        };
		

		</script>
	
	</body>
</html>